registry=http://nas.rokkon.com:8081/repository/npm-hosted/
//nas.rokkon.com:8081/repository/npm-hosted/:_auth=YWRtaW46ZlpxY3JpMnJBWXlQQ2tM
//nas.rokkon.com:8081/repository/npm-hosted/:always-auth=true
email=admin@example.com
